body{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
	position:relative;
	background-color: gray;
	width:509px;
	height:509px;
}
li{
	background-color: pink;
	list-style: none;
	margin:0;
	padding:0;
	width:50px;
	height:50px;
	position:absolute;
	background-image:url(../images/pic.jpg);
	opacity: 0;
}